### Node ###
# Logs
logs
*.log
npm-debug.log*
package-lock.json
webpack.config
node_modules/
.sass-cache/

!2_Snippety/1_Konfiguracja_srodowiska/.babelrc
!2_Snippety/1_Konfiguracja_srodowiska/package.json
!2_Snippety/1_Konfiguracja_srodowiska/webpack.config.js

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### Linux ###
*~

### Code ###
# Visual Studio Code - https://code.visualstudio.com/
.settings/
.vscode/

### Webstorm ###
.idea/

### Other ###
.test/
.solution
