* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#root {
    width: 80%;
    margin: 0 auto;
}

@media screen and (max-width: 1000px) {
    #root {
        width: 100%;
    }
}

div p {
    margin-bottom: 10px;
    line-height: 22px;
}

p span {
    font-weight: 800;
}

/* .navi {
    margin: 10px;
}

.navi a {
    margin-right: 20px;
}

.search-list {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-flow: row wrap;
    margin: 2px 0;
    padding: 20px 0;
}
.search-element {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 12px;
    align-items: center;
    height: 500px; 
}
.search-element-container {
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 260px;
    height: 540px;
    border-radius: 12px 12px 0 0;
    box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.75);
    transition: transform .2s;
}

.search-element-container:hover {
    transform: scale(1.1);
}

.search-element p {
    background-color: rgb(255, 255, 255);
}

.search-img {
    max-width: 220px;
    height: 330px;
    object-fit: cover;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
}

.stars {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-top: 12px;
}

.title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px; 
    background-color: rgb(110, 182, 110);
    color: rgb(239, 240, 245);   
    border-radius: 12px 12px 0 0;
}

.search-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 25px 0;
}

.title h5 {
    text-align: center;
    font-size: 14px;
    padding: 15px;
}


input[type=checkbox] {
    height: 24px;
}

button {
    height: 24px;
    font-size: 14px;
    width: 15%;
    margin: 20px 0 20px 0;
}

.movie-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    margin: 0 auto;
    padding: 40px;
}

.movie-container h2 {
    padding: 0 20px 25px;
}

.movie-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 100%;
    padding: 20px;
}

.movie-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}

.details {
    max-width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 50px;
    font-size: 16px;
    height: auto;
}


.movie-header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 80%;
    background-color: rgb(110, 182, 110);
    color: white;
    margin: 0 auto;
    height: 50px;
}

.movie-header h1 {
    font-size: 20px;
    margin: 0;
    padding: 15px 25px;
    margin-top: 50px;
}

.img {
    object-fit: cover;
    height: 450px;
    box-shadow: #3f51b5 3px 3px 10px;
    margin-bottom: 10px;
}
#story {
    line-height: 22px;
}

.similiar {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.no-top-border {
    border-top: 0;
}

.single-movie-familiar {
    margin: 0 15px;
    padding: 15px;
    border: 1px solid rgb(110, 182, 110);
    display: none;
    transition: transform .2s;
}

.single-movie-familiar:hover {
    transform: scale(1.1);
}

.single-movie-familiar img {
    height: 150px;
    width: 100px;
    object-fit: cover;
}

.similiar-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.hover-title {
    text-align: right;
    font-size: 1em;
}

.favorites-form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 30px 20px 10px;
    margin: 1px auto;
    height: 100px;
}

.favorites-form-element1 {
    width: 70%;

}

.favorites-form-element2 {
    width: 15%;

}

.favorites-form-element1 button {
    width: 30%;
    
}

select {
    height: 24px;
    font-size: 14px;
    width: 60%;
    margin: 20px 0 20px 0;
}

.rating-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}  */